h1{
    border-radius: 10px 10px 10px 10px;
    background-color: yellow;
    color: white;
    height: 50px;
}
section{
    border-radius: 10px 10px 10px 10px;
    background-color: white;
}



img{
    float: left;
    margin: 7px;
}
article.item{
    margin: 5px;
    padding: 0;
    border: 0;
    float: left;
    width:calc(50% - (5px * 2));
    height: auto;
    border-radius: 10px 10px 10px 10px;
    background-color: red;
}
p.item__description{
    margin: 0;
    padding: 0;
    border:0;
}
:root{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}
